@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: title;
  src: url(/public/fonts/Adventure\ Time\ Logo.ttf);
}
@font-face {
  font-family: Coffee;
  src: url(/public/fonts/Coffee\ Fills.ttf);
}

:root {
  --dark-brown: #792636;
  --dark-pink: #c63a5f;
  --candy-pink: #febac5;
  --beige: #f1e0b0;
  --retro-blue: #04b2a9;
  --dark-purple: #B14D8B;
  --title-red: #DE2223;
  --candy-orange: #fc5c46;
  --candy-salmon: #FD7F59;
  --candy-soft-salmon: #FB977F;
  --white: aliceblue; 
  --soft-pink: #fee8ea;
  --text-font: "Roboto", sans-serif;
  --box-shadow-container: 0 4px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-button: 0.5px 0.5px 1.5px 0.5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--soft-pink);
  height: 100%;
}

body, html {
  margin: 0;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-brown);
  align-items: center;
  height: 60px;
  font-family: var(--text-font);
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: center;

}

nav a {
  padding: 20px 15px;
  text-decoration: none;
  color: var(--white);
}

nav a:hover {
  background-color: var(--candy-soft-salmon);
  transition: 0.2s;
}

nav button {
  height: 100%;
  padding: 0px 40px;
  background-color: var(--dark-purple);
  border: none;
  color: var(--white);
  font-size: 1.1em;
  cursor: pointer;
} 

.active {
  background-color: var(--candy-soft-salmon);
}

.main-container {
  padding: 60px 30px;
}


.main-title {
  margin: 1.5em 0 2.5em 0;
  font-family: coffee;
  font-size: 5em;
  text-align: center;
  color: var(--dark-pink);
}


.products-container {
  padding: 2em;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
  row-gap: 250px;
  column-gap: 2em;

}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: var(--white);
  color: var();
  box-sizing: border-box;
  box-shadow: var(--box-shadow-container);
  padding: 25px;
  border-radius: 20px;
}

.product img{
  height: 230px;
  width: auto;
  position: relative;
  z-index: 10;
  display: block;
  bottom: 85%;
}

.product h2 {
  margin-top: 0;
}


.product a {
  text-decoration: none;
  box-sizing: border-box;
  border: 0;
  padding: 8px 20px;
  background-color: var(--candy-salmon);
  color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: var(--box-shadow-button) var(--candy-orange);
}

.product a:hover {
  background-color: var(--candy-soft-salmon);
  transition: 0.3s;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.more-info-container,
.login-container {
  display: flex;
  height: 65vh;
  width: 50vw;
  background-color: var(--white);
  margin: auto 0;
  border-radius: 20px;
  box-shadow: var(--box-shadow-container);
  min-width: 600px;
}

.more-info-container img {
  height: 100%;
  width: 45%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: var(--box-shadow-container);
}

.purchase-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:5%;
  box-sizing: border-box;
  width: 55%;
}

.purchase-info label {
  font-size: 0.9em;
  bottom: 0;
}

.description{
  margin-top: 0;
  font-weight: 500;
}


.button-container-button,
.login-form button {
  border: 0;
  padding: 10px 20px;
  font-size: 0.9em;
  margin-right: 10px;
  width:fit-content;
  background-color: var(--candy-salmon);
  color: var(--white);
  border-radius: 3px;
  cursor: pointer;
  box-shadow: var(--box-shadow-button) var(--candy-orange);
}

#button-container-remove {
  background-color: var(--dark-pink);
  box-shadow: var(--box-shadow-button) var(--dark-purple);
}

#button-container-back {
  background-color: var(--dark-purple);
  box-shadow: var(--box-shadow-button) var(--dark-pink);
}

.cart {
  display: flex;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
}

.left-content, .right-content {
  padding: 60px 30px;
  overflow-y: auto;
}

.left-content {
  display: flex;
  flex: 0 1 65%;
  flex-direction: column;
}

.right-content {
  display: flex;
  justify-content: space-between;
  flex: 0 1 35%;
  flex-direction: column;
  box-shadow: var(--box-shadow-container);
  background-color: var(--white);
  width: 35%;
  overflow: hidden;
}

.right-content img {
  width: 45%;;
  border-radius: 2px;
  box-shadow: var(--box-shadow-container);
}

.right-content button {
  width: 100%;
}

.my-products-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.my-product {
  display: flex;
  padding: 20px 25px;
  border-radius: 8px;
  background-color: var(--white);
  width: 95%;
  justify-content:space-between;
}

.my-product div {
  width: 25%;
}

.my-product h3 {
  margin: 0;
}

.my-product p {
  margin: 0;
  font-size: 0.8em;
}

.my-products-container img {
  margin: 0;
  height: 60px;
  width: auto;
}

.empty-button {
  width: 100% ;
}

.remove-from-cart {
  color: var(--dark-brown);
  background: none;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
}

.login-container img{
  width: 50%;
  border-radius: 20px;
  box-shadow: var(--box-shadow-container);
  background-color: var(--white);
  object-fit: cover;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  width: 50%;
  padding: 5%;
  box-sizing: border-box;
}

.login-form h1{
  margin-top: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  color: var(--candy-salmon);
}

.input-container input {
  color: var(--candy-soft-salmon);
  background-color: transparent;
  height: 2em;
  border: 1px solid var(--candy-salmon);
  border-radius: 3px;
  font-size: 1em;
  outline: none;
}

.input-container label {
  font-size: 0.9em;
  color: var(--candy-soft-salmon);
}

.error {
  margin-top: 0;
  font-size: 0.9em;
}

.input-container button {
  margin-top: 5%;
  width: 100%;
}






